body{
    font-family: sans-serif;
}
h1 {
    color: #2f2f2f;
    margin-bottom: 10px;
}
a:link {
    color: blue;
}

.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li {
    display: inline-block
}

.nav a {
    color: white;
    background-color: #13a4a4;
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: none;
}

a.featured {
    background-color: orange;
}

.nav .featured {
    background-color: orange;
    box-shadow: 10px 2p #6f9090;
}

#page-title {
    font-family: sans-serif;
}

.title {
    font-family: monospace;
}

.footer a {
    color: initial;
    text-decoration: underline;
}

.footer a{
    color: inherit;
    text-decoration: underline;
}

.padded {
    font-size: 16px;
    padding: 1em;
}

.box {
    padding: 1em;
    border-radius: 1em;
    background-color: lightgray;
}

.box-small {
    font-size: 12px;
}

.box-large {
    font-size: 18px;
}

.slogan {
    font-size: 1.2em; 
    padding: 1.2em;
    background-color: #ccc;
}